<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cloud.paas.appservice.dao.CtnDetailInfoDAO">
    <resultMap id="BaseResultMap"
               type="com.cloud.paas.appservice.model.CtnDetailInfo">
        <id column="ctn_id" property="ctnId" jdbcType="BIGINT"/>
        <result column="srv_id" property="srvId" jdbcType="BIGINT"/>
        <result column="ctn_name_zh" property="ctnNameZh" jdbcType="VARCHAR"/>
        <result column="ctn_name_en" property="ctnNameEn" jdbcType="VARCHAR"/>
        <result column="ctn_real_id" property="ctnRealId" jdbcType="BIGINT"/>
        <result column="cpu" property="cpu" jdbcType="REAL"/>
        <result column="mem" property="mem" jdbcType="REAL"/>
        <result column="storage" property="storage" jdbcType="REAL"/>
        <result column="net_pattern" property="netPattern" jdbcType="INTEGER"/>
        <result column="host_ip" property="hostIp" jdbcType="VARCHAR"/>
        <result column="host_port" property="hostPort" jdbcType="INTEGER"/>
        <result column="ctn_ip" property="ctnIp" jdbcType="VARCHAR"/>
        <result column="ctn_port" property="ctnPort" jdbcType="INTEGER"/>
        <result column="ctn_status" property="ctnStatus" jdbcType="INTEGER"/>
        <result column="ctn_start_time" property="ctnStartTime" jdbcType="TIMESTAMP"/>
        <result column="ctn_stop_time" property="ctnStopTime" jdbcType="TIMESTAMP"/>
        <result column="storage_way" property="storageWay" jdbcType="INTEGER"/>
        <result column="storage_type" property="storageType" jdbcType="INTEGER"/>
        <result column="storage_quota" property="storageQuota" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--用户下的所有应用下的所有的服务的所有容器的映射关系-->
        <resultMap id="listCtnOfSrv" type="com.cloud.paas.appservice.vo.app.AppDetailVO">
            <id column="app_id" jdbcType="INTEGER" property="appId"/>
            <result column="app_name_zh" jdbcType="VARCHAR" property="appNameZh"/>
            <result column="app_name_en" jdbcType="VARCHAR" property="appNameEn"/>
            <result column="remark" jdbcType="VARCHAR" property="remark"/>
            <result column="app_type" jdbcType="INTEGER" property="appType"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
            <result column="creator" jdbcType="VARCHAR" property="creator"/>
            <!--映射服务列表-->
            <collection property="listSrvDetailVO" ofType="com.cloud.paas.appservice.vo.srv.SrvDetailVO">
                <id column="srv_id" property="srvId" jdbcType="INTEGER"/>
                <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
                <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
                <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
                <result column="srv_version" property="srvVersion" jdbcType="VARCHAR"/>
                <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
                <result column="srv_ip" property="srvIp" jdbcType="VARCHAR"/>
                <result column="srv_port" property="srvPort" jdbcType="INTEGER"/>
                <result column="srv_url" property="srvUrl" jdbcType="VARCHAR"/>
                <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
                <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
                <result column="srv_inst_num" property="srvInstNum" jdbcType="TINYINT"/>
                <result column="cpu" property="cpu" jdbcType="REAL"/>
                <result column="mem" property="mem" jdbcType="REAL"/>
                <result column="storage_way" property="storageWay" jdbcType="TINYINT"/>
                <result column="storage_type" property="storageType" jdbcType="TINYINT"/>
                <result column="storage_root_path" property="storageRootPath" jdbcType="VARCHAR"/>
                <result column="storage_quota" property="storageQuota" jdbcType="INTEGER"/>
                <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
                <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
                <result column="creator" property="creator" jdbcType="VARCHAR"/>
                <!--容器映射关系-->
                <collection property="ctnDetailInfos" ofType="com.cloud.paas.appservice.model.CtnDetailInfo">
                    <id column="ctn_id" property="ctnId" jdbcType="BIGINT"/>
                    <result column="srv_id" property="srvId" jdbcType="BIGINT"/>
                    <result column="ctn_name_zh" property="ctnNameZh" jdbcType="VARCHAR"/>
                    <result column="ctn_name_en" property="ctnNameEn" jdbcType="VARCHAR"/>
                    <result column="ctn_real_id" property="ctnRealId" jdbcType="BIGINT"/>
                    <result column="cpu" property="cpu" jdbcType="REAL"/>
                    <result column="mem" property="mem" jdbcType="REAL"/>
                    <result column="storage" property="storage" jdbcType="REAL"/>
                    <result column="net_pattern" property="netPattern" jdbcType="INTEGER"/>
                    <result column="host_ip" property="hostIp" jdbcType="VARCHAR"/>
                    <result column="host_port" property="hostPort" jdbcType="INTEGER"/>
                    <result column="ctn_ip" property="ctnIp" jdbcType="VARCHAR"/>
                    <result column="ctn_port" property="ctnPort" jdbcType="INTEGER"/>
                    <result column="ctn_status" property="ctnStatus" jdbcType="INTEGER"/>
                    <result column="ctn_start_time" property="ctnStartTime" jdbcType="TIMESTAMP"/>
                    <result column="ctn_stop_time" property="ctnStopTime" jdbcType="TIMESTAMP"/>
                    <result column="storage_way" property="storageWay" jdbcType="INTEGER"/>
                    <result column="storage_type" property="storageType" jdbcType="INTEGER"/>
                    <result column="storage_quota" property="storageQuota" jdbcType="INTEGER"/>
                    <result column="creator" property="creator" jdbcType="VARCHAR"/>
                    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
                    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
                </collection>
            </collection>
        </resultMap>


    <sql id="Base_Column_List">
    ctn_id, srv_id, ctn_name_zh, ctn_name_en, ctn_real_id, cpu, mem, storage, net_pattern, 
    host_ip, host_port, ctn_ip, ctn_port, ctn_status, ctn_start_time, ctn_stop_time, 
    storage_way, storage_type, storage_quota, creator, create_time, update_time
  </sql>

    <!--通过ID查询容器-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from acp_ctn_detail_info
        where ctn_id = #{ctnId,jdbcType=BIGINT}
    </select>

    <select id="listAllCtn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from acp_ctn_detail_info
    </select>

    <!--查询指定用户下的所有应用的所有服务的所有容器列表-->
    <select id="listUserGivenAppSrvDetailCnts" parameterType="java.lang.Integer" resultMap="listCtnOfSrv">
        SELECT
            acp_app_detail.app_id,
            acp_app_detail.app_name_zh,
            acp_app_detail.app_name_en,
            acp_app_detail.remark,
            acp_app_detail.app_type,
            acp_app_detail.create_time,
            acp_app_detail.update_time,
            acp_app_detail.creator,
            acp_srv_detail.srv_id,
            acp_srv_detail.srv_name_ch,
            acp_srv_detail.srv_name_en,
            acp_srv_detail.srv_desc,
            acp_srv_detail.srv_version,
            acp_srv_detail.srv_type,
            acp_srv_detail.srv_ip,
            acp_srv_detail.srv_port,
            acp_srv_detail.srv_url,
            acp_srv_detail.srv_image,
            acp_srv_detail.srv_image_version,
            acp_srv_detail.srv_inst_num,
            acp_srv_detail.cpu,
            acp_srv_detail.mem,
            acp_srv_detail.storage_way,
            acp_srv_detail.storage_type,
            acp_srv_detail.storage_root_path,
            acp_srv_detail.storage_quota,
            acp_srv_detail.create_time,
            acp_srv_detail.update_time,
            acp_srv_detail.creator,
            acp_ctn_detail_info.ctn_id,
            acp_ctn_detail_info.srv_id,
            acp_ctn_detail_info.ctn_name_zh,
            acp_ctn_detail_info.ctn_name_en,
            acp_ctn_detail_info.ctn_real_id,
            acp_ctn_detail_info.cpu,
            acp_ctn_detail_info.mem,
            acp_ctn_detail_info. STORAGE,
            acp_ctn_detail_info.net_pattern,
            acp_ctn_detail_info.host_ip,
            acp_ctn_detail_info.host_port,
            acp_ctn_detail_info.ctn_ip,
            acp_ctn_detail_info.ctn_port,
            acp_ctn_detail_info.ctn_status,
            acp_ctn_detail_info.ctn_start_time,
            acp_ctn_detail_info.ctn_stop_time,
            acp_ctn_detail_info.storage_way,
            acp_ctn_detail_info.storage_type,
            acp_ctn_detail_info.storage_quota,
            acp_ctn_detail_info.creator,
            acp_ctn_detail_info.create_time,
            acp_ctn_detail_info.update_time
        FROM
            acp_user_app_rel,
            acp_app_detail,
            acp_app_srv_rel,
            acp_srv_detail,
            acp_ctn_detail_info
        WHERE
            acp_app_detail.app_id = acp_user_app_rel.app_id
        AND acp_srv_detail.srv_id = acp_app_srv_rel.srv_id
        AND acp_app_detail.app_id = acp_app_srv_rel.app_id
        AND acp_srv_detail.srv_id = acp_ctn_detail_info.srv_id
    </select>
    <!--查询指定用户下指定应用的所有服务的所有容器-->
    <select id="listCtnUserGivenAppGivenSrv" parameterType="com.cloud.paas.appservice.qo.SrvCondition" resultMap="listCtnOfSrv">
        SELECT
        acp_app_detail.app_id,
        acp_app_detail.app_name_zh,
        acp_app_detail.app_name_en,
        acp_app_detail.remark,
        acp_app_detail.app_type,
        acp_app_detail.create_time,
        acp_app_detail.update_time,
        acp_app_detail.creator,
        acp_srv_detail.srv_id,
        acp_srv_detail.srv_name_ch,
        acp_srv_detail.srv_name_en,
        acp_srv_detail.srv_desc,
        acp_srv_detail.srv_version,
        acp_srv_detail.srv_type,
        acp_srv_detail.srv_ip,
        acp_srv_detail.srv_port,
        acp_srv_detail.srv_url,
        acp_srv_detail.srv_image,
        acp_srv_detail.srv_image_version,
        acp_srv_detail.srv_inst_num,
        acp_srv_detail.cpu,
        acp_srv_detail.mem,
        acp_srv_detail.storage_way,
        acp_srv_detail.storage_type,
        acp_srv_detail.storage_root_path,
        acp_srv_detail.storage_quota,
        acp_srv_detail.create_time,
        acp_srv_detail.update_time,
        acp_srv_detail.creator,
        acp_ctn_detail_info.ctn_id,
        acp_ctn_detail_info.srv_id,
        acp_ctn_detail_info.ctn_name_zh,
        acp_ctn_detail_info.ctn_name_en,
        acp_ctn_detail_info.ctn_real_id,
        acp_ctn_detail_info.cpu,
        acp_ctn_detail_info.mem,
        acp_ctn_detail_info. STORAGE,
        acp_ctn_detail_info.net_pattern,
        acp_ctn_detail_info.host_ip,
        acp_ctn_detail_info.host_port,
        acp_ctn_detail_info.ctn_ip,
        acp_ctn_detail_info.ctn_port,
        acp_ctn_detail_info.ctn_status,
        acp_ctn_detail_info.ctn_start_time,
        acp_ctn_detail_info.ctn_stop_time,
        acp_ctn_detail_info.storage_way,
        acp_ctn_detail_info.storage_type,
        acp_ctn_detail_info.storage_quota,
        acp_ctn_detail_info.creator,
        acp_ctn_detail_info.create_time,
        acp_ctn_detail_info.update_time
        FROM
        acp_user_app_rel,
        acp_app_detail,
        acp_app_srv_rel,
        acp_srv_detail,
        acp_ctn_detail_info
        WHERE
            acp_app_detail.app_id = acp_user_app_rel.app_id
        AND acp_srv_detail.srv_id = acp_app_srv_rel.srv_id
        AND acp_app_detail.app_id = acp_app_srv_rel.app_id
        AND acp_srv_detail.srv_id = acp_ctn_detail_info.srv_id
        AND acp_app_detail.app_name_zh = #{appNameZh,jdbcType=VARCHAR}
    </select>

    <!--查询指定用户下指定应用的指定服务的所有容器-->
    <select id="userGivenAppGivenSrvDetailGivenCnts" parameterType="com.cloud.paas.appservice.qo.SrvCondition" resultMap="listCtnOfSrv">
        SELECT
        acp_app_detail.app_id,
        acp_app_detail.app_name_zh,
        acp_app_detail.app_name_en,
        acp_app_detail.remark,
        acp_app_detail.app_type,
        acp_app_detail.create_time,
        acp_app_detail.update_time,
        acp_app_detail.creator,
        acp_srv_detail.srv_id,
        acp_srv_detail.srv_name_ch,
        acp_srv_detail.srv_name_en,
        acp_srv_detail.srv_desc,
        acp_srv_detail.srv_version,
        acp_srv_detail.srv_type,
        acp_srv_detail.srv_ip,
        acp_srv_detail.srv_port,
        acp_srv_detail.srv_url,
        acp_srv_detail.srv_image,
        acp_srv_detail.srv_image_version,
        acp_srv_detail.srv_inst_num,
        acp_srv_detail.cpu,
        acp_srv_detail.mem,
        acp_srv_detail.storage_way,
        acp_srv_detail.storage_type,
        acp_srv_detail.storage_root_path,
        acp_srv_detail.storage_quota,
        acp_srv_detail.create_time,
        acp_srv_detail.update_time,
        acp_srv_detail.creator,
        acp_ctn_detail_info.ctn_id,
        acp_ctn_detail_info.srv_id,
        acp_ctn_detail_info.ctn_name_zh,
        acp_ctn_detail_info.ctn_name_en,
        acp_ctn_detail_info.ctn_real_id,
        acp_ctn_detail_info.cpu,
        acp_ctn_detail_info.mem,
        acp_ctn_detail_info. STORAGE,
        acp_ctn_detail_info.net_pattern,
        acp_ctn_detail_info.host_ip,
        acp_ctn_detail_info.host_port,
        acp_ctn_detail_info.ctn_ip,
        acp_ctn_detail_info.ctn_port,
        acp_ctn_detail_info.ctn_status,
        acp_ctn_detail_info.ctn_start_time,
        acp_ctn_detail_info.ctn_stop_time,
        acp_ctn_detail_info.storage_way,
        acp_ctn_detail_info.storage_type,
        acp_ctn_detail_info.storage_quota,
        acp_ctn_detail_info.creator,
        acp_ctn_detail_info.create_time,
        acp_ctn_detail_info.update_time
        FROM
        acp_user_app_rel,
        acp_app_detail,
        acp_app_srv_rel,
        acp_srv_detail,
        acp_ctn_detail_info
        WHERE
            acp_app_detail.app_id = acp_user_app_rel.app_id
        AND acp_srv_detail.srv_id = acp_app_srv_rel.srv_id
        AND acp_app_detail.app_id = acp_app_srv_rel.app_id
        AND acp_srv_detail.srv_id = acp_ctn_detail_info.srv_id
        AND acp_app_detail.app_name_zh = #{appNameZh,jdbcType=VARCHAR}
        AND acp_srv_detail.srv_name_ch =  #{srvNameCh,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from acp_ctn_detail_info
    where ctn_id = #{ctnId,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.cloud.paas.appservice.model.CtnDetailInfo">
        <selectKey resultType="java.lang.Long" keyProperty="ctnId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into acp_ctn_detail_info (ctn_id, srv_id, ctn_name_zh,
        ctn_name_en, ctn_real_id, cpu,
        mem, storage, net_pattern,
        host_ip, host_port, ctn_ip,
        ctn_port, ctn_status, ctn_start_time,
        ctn_stop_time, storage_way, storage_type,
        storage_quota, creator, create_time,
        update_time)
        values (#{ctnId,jdbcType=BIGINT}, #{srvId,jdbcType=BIGINT}, #{ctnNameZh,jdbcType=VARCHAR},
        #{ctnNameEn,jdbcType=VARCHAR}, #{ctnRealId,jdbcType=BIGINT}, #{cpu,jdbcType=REAL},
        #{mem,jdbcType=REAL}, #{storage,jdbcType=REAL}, #{netPattern,jdbcType=INTEGER},
        #{hostIp,jdbcType=VARCHAR}, #{hostPort,jdbcType=INTEGER}, #{ctnIp,jdbcType=VARCHAR},
        #{ctnPort,jdbcType=INTEGER}, #{ctnStatus,jdbcType=INTEGER}, #{ctnStartTime,jdbcType=TIMESTAMP},
        #{ctnStopTime,jdbcType=TIMESTAMP}, #{storageWay,jdbcType=INTEGER}, #{storageType,jdbcType=INTEGER},
        #{storageQuota,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.cloud.paas.appservice.model.CtnDetailInfo">
        <selectKey resultType="java.lang.Long" keyProperty="ctnId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into acp_ctn_detail_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ctn_id,
            <if test="srvId != null">
                srv_id,
            </if>
            <if test="ctnNameZh != null">
                ctn_name_zh,
            </if>
            <if test="ctnNameEn != null">
                ctn_name_en,
            </if>
            <if test="ctnRealId != null">
                ctn_real_id,
            </if>
            <if test="cpu != null">
                cpu,
            </if>
            <if test="mem != null">
                mem,
            </if>
            <if test="storage != null">
                storage,
            </if>
            <if test="netPattern != null">
                net_pattern,
            </if>
            <if test="hostIp != null">
                host_ip,
            </if>
            <if test="hostPort != null">
                host_port,
            </if>
            <if test="ctnIp != null">
                ctn_ip,
            </if>
            <if test="ctnPort != null">
                ctn_port,
            </if>
            <if test="ctnStatus != null">
                ctn_status,
            </if>
            <if test="ctnStartTime != null">
                ctn_start_time,
            </if>
            <if test="ctnStopTime != null">
                ctn_stop_time,
            </if>
            <if test="storageWay != null">
                storage_way,
            </if>
            <if test="storageType != null">
                storage_type,
            </if>
            <if test="storageQuota != null">
                storage_quota,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{ctnId,jdbcType=BIGINT},
            <if test="srvId != null">
                #{srvId,jdbcType=BIGINT},
            </if>
            <if test="ctnNameZh != null">
                #{ctnNameZh,jdbcType=VARCHAR},
            </if>
            <if test="ctnNameEn != null">
                #{ctnNameEn,jdbcType=VARCHAR},
            </if>
            <if test="ctnRealId != null">
                #{ctnRealId,jdbcType=BIGINT},
            </if>
            <if test="cpu != null">
                #{cpu,jdbcType=REAL},
            </if>
            <if test="mem != null">
                #{mem,jdbcType=REAL},
            </if>
            <if test="storage != null">
                #{storage,jdbcType=REAL},
            </if>
            <if test="netPattern != null">
                #{netPattern,jdbcType=INTEGER},
            </if>
            <if test="hostIp != null">
                #{hostIp,jdbcType=VARCHAR},
            </if>
            <if test="hostPort != null">
                #{hostPort,jdbcType=INTEGER},
            </if>
            <if test="ctnIp != null">
                #{ctnIp,jdbcType=VARCHAR},
            </if>
            <if test="ctnPort != null">
                #{ctnPort,jdbcType=INTEGER},
            </if>
            <if test="ctnStatus != null">
                #{ctnStatus,jdbcType=INTEGER},
            </if>
            <if test="ctnStartTime != null">
                #{ctnStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ctnStopTime != null">
                #{ctnStopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="storageWay != null">
                #{storageWay,jdbcType=INTEGER},
            </if>
            <if test="storageType != null">
                #{storageType,jdbcType=INTEGER},
            </if>
            <if test="storageQuota != null">
                #{storageQuota,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cloud.paas.appservice.model.CtnDetailInfo">
        update acp_ctn_detail_info
        <set>
            <if test="srvId != null">
                srv_id = #{srvId,jdbcType=BIGINT},
            </if>
            <if test="ctnNameZh != null">
                ctn_name_zh = #{ctnNameZh,jdbcType=VARCHAR},
            </if>
            <if test="ctnNameEn != null">
                ctn_name_en = #{ctnNameEn,jdbcType=VARCHAR},
            </if>
            <if test="ctnRealId != null">
                ctn_real_id = #{ctnRealId,jdbcType=BIGINT},
            </if>
            <if test="cpu != null">
                cpu = #{cpu,jdbcType=REAL},
            </if>
            <if test="mem != null">
                mem = #{mem,jdbcType=REAL},
            </if>
            <if test="storage != null">
                storage = #{storage,jdbcType=REAL},
            </if>
            <if test="netPattern != null">
                net_pattern = #{netPattern,jdbcType=INTEGER},
            </if>
            <if test="hostIp != null">
                host_ip = #{hostIp,jdbcType=VARCHAR},
            </if>
            <if test="hostPort != null">
                host_port = #{hostPort,jdbcType=INTEGER},
            </if>
            <if test="ctnIp != null">
                ctn_ip = #{ctnIp,jdbcType=VARCHAR},
            </if>
            <if test="ctnPort != null">
                ctn_port = #{ctnPort,jdbcType=INTEGER},
            </if>
            <if test="ctnStatus != null">
                ctn_status = #{ctnStatus,jdbcType=INTEGER},
            </if>
            <if test="ctnStartTime != null">
                ctn_start_time = #{ctnStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ctnStopTime != null">
                ctn_stop_time = #{ctnStopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="storageWay != null">
                storage_way = #{storageWay,jdbcType=INTEGER},
            </if>
            <if test="storageType != null">
                storage_type = #{storageType,jdbcType=INTEGER},
            </if>
            <if test="storageQuota != null">
                storage_quota = #{storageQuota,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ctn_id = #{ctnId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cloud.paas.appservice.model.CtnDetailInfo">
    update acp_ctn_detail_info
    set srv_id = #{srvId,jdbcType=BIGINT},
      ctn_name_zh = #{ctnNameZh,jdbcType=VARCHAR},
      ctn_name_en = #{ctnNameEn,jdbcType=VARCHAR},
      ctn_real_id = #{ctnRealId,jdbcType=BIGINT},
      cpu = #{cpu,jdbcType=REAL},
      mem = #{mem,jdbcType=REAL},
      storage = #{storage,jdbcType=REAL},
      net_pattern = #{netPattern,jdbcType=INTEGER},
      host_ip = #{hostIp,jdbcType=VARCHAR},
      host_port = #{hostPort,jdbcType=INTEGER},
      ctn_ip = #{ctnIp,jdbcType=VARCHAR},
      ctn_port = #{ctnPort,jdbcType=INTEGER},
      ctn_status = #{ctnStatus,jdbcType=INTEGER},
      ctn_start_time = #{ctnStartTime,jdbcType=TIMESTAMP},
      ctn_stop_time = #{ctnStopTime,jdbcType=TIMESTAMP},
      storage_way = #{storageWay,jdbcType=INTEGER},
      storage_type = #{storageType,jdbcType=INTEGER},
      storage_quota = #{storageQuota,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ctn_id = #{ctnId,jdbcType=BIGINT}
  </update>
</mapper>