<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cloud.paas.appservice.dao.CtnMinuteStateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.paas.appservice.model.CtnMinuteStateInfo" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="ctn_id" property="ctnId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="cpu_usage" property="cpuUsage" jdbcType="REAL" />
    <result column="mem_usage" property="memUsage" jdbcType="REAL" />
    <result column="disk_usage" property="diskUsage" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, ctn_id, status, cpu_usage, mem_usage, disk_usage, create_time, update_time, creator
  </sql>

  <insert id="insert" parameterType="com.cloud.paas.appservice.model.CtnMinuteStateInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_ctn_minute_state_info (id, ctn_id, status, 
      cpu_usage, mem_usage, disk_usage, 
      create_time, update_time, creator
      )
    values (#{id,jdbcType=INTEGER}, #{ctnId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{cpuUsage,jdbcType=REAL}, #{memUsage,jdbcType=REAL}, #{diskUsage,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.cloud.paas.appservice.model.CtnMinuteStateInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_ctn_minute_state_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="ctnId != null" >
        ctn_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cpuUsage != null" >
        cpu_usage,
      </if>
      <if test="memUsage != null" >
        mem_usage,
      </if>
      <if test="diskUsage != null" >
        disk_usage,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="ctnId != null" >
        #{ctnId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cpuUsage != null" >
        #{cpuUsage,jdbcType=REAL},
      </if>
      <if test="memUsage != null" >
        #{memUsage,jdbcType=REAL},
      </if>
      <if test="diskUsage != null" >
        #{diskUsage,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>