<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.paas.appservice.dao.DependencyStorageDAO" >

  <resultMap id="BaseResultMap" type="com.cloud.paas.appservice.model.DependencyStorage" >
    <id column="acp_dependency_storage_id" property="acpDependencyStorageId" jdbcType="INTEGER" />
    <result column="mount_dir" property="mountDir" jdbcType="VARCHAR" />
    <result column="storage" property="storage" jdbcType="VARCHAR" />
    <result column="pv_name" property="pvName" jdbcType="VARCHAR" />
    <result column="pv_path" property="pvPath" jdbcType="VARCHAR" />
    <result column="pv_status" property="pvStatus" jdbcType="VARCHAR" />
    <result column="pvc_name" property="pvcName" jdbcType="VARCHAR" />
    <result column="pvc_status" property="pvcStatus" jdbcType="VARCHAR" />
    <result column="deployment_id" property="deploymentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    acp_dependency_storage_id, mount_dir, storage, pv_name, pv_path, pv_status, pvc_name, pvc_status,
    deployment_id, create_time, update_time, creator
  </sql>

  <select id="doFindById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from acp_dependency_storage
    where acp_dependency_storage_id = #{acpDependencyStorageId,jdbcType=INTEGER}
  </select>

  <select id="doFindByDeploymentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from acp_dependency_storage
    where deployment_id = #{deploymentId,jdbcType=INTEGER}
  </select>

  <delete id="doDeleteById" parameterType="java.lang.Integer" >
    delete from acp_dependency_storage
    where acp_dependency_storage_id = #{acpDependencyStorageId,jdbcType=INTEGER}
  </delete>

  <insert id="doInsertByBean" parameterType="com.cloud.paas.appservice.model.DependencyStorage" >
    <selectKey resultType="java.lang.Integer" keyProperty="acpDependencyStorageId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_dependency_storage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      acp_dependency_storage_id,
      <if test="mountDir != null" >
        mount_dir,
      </if>
      <if test="storage != null" >
        storage,
      </if>
      <if test="pvName != null" >
        pv_name,
      </if>
      <if test="pvPath != null" >
        pv_path,
      </if>
      <if test="pvStatus != null" >
        pv_status,
      </if>
      <if test="pvcName != null" >
        pvc_name,
      </if>
      <if test="pvcStatus != null" >
        pvc_status,
      </if>
      <if test="deploymentId != null" >
        deployment_id,
      </if>
      create_time,
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{acpDependencyStorageId,jdbcType=INTEGER},
      <if test="mountDir != null" >
        #{mountDir,jdbcType=VARCHAR},
      </if>
      <if test="storage != null" >
        #{storage,jdbcType=VARCHAR},
      </if>
      <if test="pvName != null" >
        #{pvName,jdbcType=VARCHAR},
      </if>
      <if test="pvPath != null" >
        #{pvPath,jdbcType=VARCHAR},
      </if>
      <if test="pvStatus != null" >
        #{pvStatus,jdbcType=VARCHAR},
      </if>
      <if test="pvcName != null" >
        #{pvcName,jdbcType=VARCHAR},
      </if>
      <if test="pvcStatus != null" >
        #{pvcStatus,jdbcType=VARCHAR},
      </if>
      <if test="deploymentId != null" >
        #{deploymentId,jdbcType=INTEGER},
      </if>
      now(3),
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="doUpdateByBean" parameterType="com.cloud.paas.appservice.model.DependencyStorage" >
    update acp_dependency_storage
    <set >
      <if test="mountDir != null" >
        mount_dir = #{mountDir,jdbcType=VARCHAR},
      </if>
      <if test="storage != null" >
        storage = #{storage,jdbcType=VARCHAR},
      </if>
      <if test="pvName != null" >
        pv_name = #{pvName,jdbcType=VARCHAR},
      </if>
      <if test="pvPath != null" >
        pv_path = #{pvPath,jdbcType=VARCHAR},
      </if>
      <if test="pvStatus != null" >
        pv_status = #{pvStatus,jdbcType=VARCHAR},
      </if>
      <if test="pvcName != null" >
        pvc_name = #{pvcName,jdbcType=VARCHAR},
      </if>
      <if test="pvcStatus != null" >
        pvc_status = #{pvcStatus,jdbcType=VARCHAR},
      </if>
      <if test="deploymentId != null" >
        deployment_id = #{deploymentId,jdbcType=INTEGER},
      </if>
      update_time = now(3),
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where acp_dependency_storage_id = #{acpDependencyStorageId,jdbcType=INTEGER}
  </update>
</mapper>