<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.paas.appservice.dao.SrvDetailDAO">
    <!--服务详情的映射关系-->
    <resultMap id="BaseResultMap" type="com.cloud.paas.appservice.model.SrvDetail">
        <id column="srv_id" property="srvId" jdbcType="INTEGER"/>
        <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
        <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
        <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
        <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
        <result column="busi_pkg" property="busiPkg" jdbcType="VARCHAR"/>
        <result column="busi_pkg_id" property="busiPkgId" jdbcType="INTEGER"/>
        <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
        <result column="srv_image_id" property="srvImageId" jdbcType="INTEGER"/>
        <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
        <result column="srv_image_version_id" property="srvImageVersionId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="INTEGER"/>
        <result column="srv_desc_img_path" property="srvDescImgPath" jdbcType="VARCHAR"/>
        <result column="code_mng_type" property="codeMngType" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="branch" property="branch" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
        <result column="member_users" property="memberUsers" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="lang_version" property="langVersion" jdbcType="VARCHAR"/>
        <result column="build_script_type" property="buildScriptType" jdbcType="VARCHAR"/>
        <result column="build_script_path" property="buildScriptPath" jdbcType="VARCHAR"/>
        <result column="project_build_path" property="projectBuildPath" jdbcType="VARCHAR"/>
        <result column="context_root_path" property="contextRootPath" jdbcType="VARCHAR"/>
        <result column="middleware" property="middleware" jdbcType="VARCHAR"/>
        <result column="middleware_version" property="middlewareVersion" jdbcType="VARCHAR"/>
        <result column="log_path" property="logPath" jdbcType="VARCHAR"/>
        <result column="persis_path" property="persisPath" jdbcType="VARCHAR"/>
    </resultMap>

    <!--用户下的所有应用下的所有的服务的映射关系 -->
    <resultMap id="appDetailVO" type="com.cloud.paas.appservice.vo.app.AppDetailVO">
        <id column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="app_name_zh" jdbcType="VARCHAR" property="appNameZh"/>
        <result column="app_name_en" jdbcType="VARCHAR" property="appNameEn"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="app_type" jdbcType="INTEGER" property="appType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <!--映射服务列表-->
        <collection property="listSrvDetail" ofType="com.cloud.paas.appservice.vo.srv.SrvDetailOrderVO">
            <id column="srv_inst_id" property="srvId" jdbcType="INTEGER"/>
            <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
            <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
            <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
            <result column="srv_version" property="srvVersion" jdbcType="VARCHAR"/>
            <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
            <result column="node_port" property="nodePort" jdbcType="INTEGER"/>
            <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
            <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
            <result column="srv_inst_num" property="srvInstNum" jdbcType="TINYINT"/>
            <result column="cpu" property="cpu" jdbcType="VARCHAR"/>
            <result column="mem" property="mem" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
            <result column="srv_detail_create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="srv_detail_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="srv_detail_creator " property="creator" jdbcType="VARCHAR"/>
            <result column="srv_detail_start_order" property="startOrder" jdbcType="INTEGER"/>
            <result column="srv_detail_tenant" property="tenantId" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <!--用户下的指定应用的服务的映射关系-->
    <resultMap id="listSrvDetailOfApp" type="com.cloud.paas.appservice.vo.app.AppDetailVO">
        <id column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="app_name_zh" jdbcType="VARCHAR" property="appNameZh"/>
        <result column="app_name_en" jdbcType="VARCHAR" property="appNameEn"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="app_type" jdbcType="INTEGER" property="appType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <!--映射服务列表-->
        <collection property="listSrvDetailVO" ofType="com.cloud.paas.appservice.vo.srv.SrvDetailOrderVO">
            <id column="srv_inst_id" property="srvId" jdbcType="INTEGER"/>
            <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
            <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
            <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
            <result column="srv_version" property="srvVersion" jdbcType="VARCHAR"/>
            <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
            <result column="node_port" property="nodePort" jdbcType="INTEGER"/>
            <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
            <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
            <result column="srv_inst_num" property="srvInstNum" jdbcType="TINYINT"/>
            <result column="cpu" property="cpu" jdbcType="VARCHAR"/>
            <result column="mem" property="mem" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
            <result column="srv_detail_create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="srv_detail_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="srv_detail_creator " property="creator" jdbcType="VARCHAR"/>
            <result column="srv_detail_start_order" property="startOrder" jdbcType="INTEGER"/>
            <result column="srv_detail_tenant" property="tenantId" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <!--用户下指定应用的指定的服务的映射关系-->
    <resultMap id="serDetailOfApp" type="com.cloud.paas.appservice.vo.app.AppDetailVO">
        <id column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="app_name_zh" jdbcType="VARCHAR" property="appNameZh"/>
        <result column="app_name_en" jdbcType="VARCHAR" property="appNameEn"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="app_type" jdbcType="INTEGER" property="appType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <!--映射服务列表-->
        <association property="srvDetailVO" javaType="com.cloud.paas.appservice.vo.srv.SrvDetailVO">
            <id column="srv_id" property="srvId" jdbcType="INTEGER"/>
            <result column="inst_type" property="instType" jdbcType="INTEGER"/>
            <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
            <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
            <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
            <result column="srv_version" property="srvVersion" jdbcType="VARCHAR"/>
            <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
            <result column="srv_ip" property="srvIp" jdbcType="VARCHAR"/>
            <result column="srv_port" property="srvPort" jdbcType="INTEGER"/>
            <result column="srv_url" property="srvUrl" jdbcType="VARCHAR"/>
            <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
            <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
            <result column="srv_image_version_id" property="srvImageVersionId" jdbcType="INTEGER"/>
            <result column="srv_inst_num" property="srvInstNum" jdbcType="TINYINT"/>
            <result column="cpu" property="cpu" jdbcType="VARCHAR"/>
            <result column="mem" property="mem" jdbcType="VARCHAR"/>
            <result column="storage_way" property="storageWay" jdbcType="TINYINT"/>
            <result column="storage_type" property="storageType" jdbcType="TINYINT"/>
            <result column="storage_root_path" property="storageRootPath" jdbcType="VARCHAR"/>
            <result column="storage_quota" property="storageQuota" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="creator" property="creator" jdbcType="VARCHAR"/>
            <result column="start_order" property="startOrder" jdbcType="INTEGER"/>
            <result column="tenant_id" property="tenantId" jdbcType="INTEGER"/>
            <result column="node_port" property="nodePort" jdbcType="INTEGER"/>
        </association>
    </resultMap>

    <!--SrvDetail+AppSrvRel+SrvOperation结构-->
    <resultMap id="srvDetailVO" type="com.cloud.paas.appservice.vo.srv.SrvDetailVO">
        <id column="srv_id" property="srvId" jdbcType="INTEGER"/>
        <result column="inst_type" property="instType" jdbcType="INTEGER"/>
        <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
        <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
        <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
        <result column="srv_version" property="srvVersion" jdbcType="VARCHAR"/>
        <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
        <result column="srv_ip" property="srvIp" jdbcType="VARCHAR"/>
        <result column="srv_port" property="srvPort" jdbcType="INTEGER"/>
        <result column="srv_url" property="srvUrl" jdbcType="VARCHAR"/>
        <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
        <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
        <result column="srv_image_version_id" property="srvImageVersionId" jdbcType="INTEGER"/>
        <result column="srv_inst_num" property="srvInstNum" jdbcType="TINYINT"/>
        <result column="cpu" property="cpu" jdbcType="VARCHAR"/>
        <result column="mem" property="mem" jdbcType="VARCHAR"/>
        <result column="storage_way" property="storageWay" jdbcType="TINYINT"/>
        <result column="storage_type" property="storageType" jdbcType="TINYINT"/>
        <result column="storage_root_path" property="storageRootPath" jdbcType="VARCHAR"/>
        <result column="storage_quota" property="storageQuota" jdbcType="INTEGER"/>
        <result column="srv_detail_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="srv_detail_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="srv_detail_creator" property="creator" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="INTEGER"/>
        <result column="node_port" property="nodePort" jdbcType="INTEGER"/>
        <!--应用服务关系-->
        <association property="appSrvRel"
                     javaType="com.cloud.paas.appservice.model.AppSrvRel">
            <id column="rel_id" property="relId" jdbcType="INTEGER"/>
            <result column="app_id" property="appId" jdbcType="INTEGER"/>
            <result column="app_srv_rel_srv_id" property="srvId" jdbcType="INTEGER"/>
            <result column="start_order" property="startOrder" jdbcType="INTEGER"/>
            <result column="app_srv_rel_create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="app_srv_rel_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="app_srv_rel_creator" property="creator" jdbcType="VARCHAR"/>
        </association>
        <!--服务操作-->
        <association property="srvOperation"
                     javaType="com.cloud.paas.appservice.model.SrvOperation">
            <id column="srv_operation_id" property="srvOperationId" jdbcType="INTEGER"/>
            <result column="srv_operation_srv_id" property="srvId" jdbcType="INTEGER"/>
            <result column="operation_type" property="operationType" jdbcType="TINYINT"/>
            <result column="operation_desc" property="operationDesc" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="BIGINT"/>
            <result column="srv_operation_create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="srv_operation_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="srv_operation_creator" property="creator" jdbcType="VARCHAR"/>
        </association>
        <!--应用详情-->
        <association property="appDetail"
                     javaType="com.cloud.paas.appservice.model.AppDetail">
            <id column="app_id" jdbcType="INTEGER" property="appId"/>
            <result column="app_name_zh" jdbcType="VARCHAR" property="appNameZh"/>
            <result column="app_name_en" jdbcType="VARCHAR" property="appNameEn"/>
            <result column="remark" jdbcType="VARCHAR" property="remark"/>
            <result column="app_type" jdbcType="INTEGER" property="appType"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
            <result column="creator" jdbcType="VARCHAR" property="creator"/>
        </association>
        <!--环境变量-->
        <collection property="srvEnvRels" javaType="com.cloud.paas.appservice.model.SrvEnvRel">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="srv_id" property="srvId" jdbcType="INTEGER"/>
            <result column="env_type" property="envType" jdbcType="TINYINT"/>
            <result column="env_key" property="envKey" jdbcType="VARCHAR"/>
            <result column="env_key_desc" property="envKeyDesc" jdbcType="VARCHAR"/>
            <result column="env_value" property="envValue" jdbcType="VARCHAR"/>
            <result column="env_value_desc" property="envValueDesc" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="creator" property="creator" jdbcType="VARCHAR"/>
        </collection>
        <!--服务存储-->
        <collection property="srvStorageRels" javaType="com.cloud.paas.appservice.model.SrvStorageRel">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="srv_id" property="srvId" jdbcType="INTEGER"/>
            <result column="func" property="func" jdbcType="VARCHAR"/>
            <result column="catalog" property="catalog" jdbcType="VARCHAR"/>
            <result column="descr" property="descr" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="creator" property="creator" jdbcType="VARCHAR"/>
        </collection>
        <!--扩缩容规则-->
        <collection property="srvScaleRules" javaType="com.cloud.paas.appservice.dao.SrvScaleRuleDAO">
            <id column="rule_id" property="ruleId" jdbcType="INTEGER"/>
            <result column="rule_type" property="ruleType" jdbcType="TINYINT"/>
            <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
            <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR"/>
            <result column="rule_content" property="ruleContent" jdbcType="VARCHAR"/>
            <result column="ctn_num" property="ctnNum" jdbcType="INTEGER"/>
            <result column="rule_mean" property="ruleMean" jdbcType="VARCHAR"/>
            <result column="rule_value" property="ruleValue" jdbcType="REAL"/>
            <result column="scale_ctn_num" property="scaleCtnNum" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="creator" property="creator" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="srvDetailOrderVO" type="com.cloud.paas.appservice.vo.srv.SrvDetailOrderVO">
        <id column="srv_id" property="srvId" jdbcType="INTEGER"/>
        <result column="inst_type" property="instType" jdbcType="INTEGER"/>
        <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
        <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
        <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
        <result column="srv_version" property="srvVersion" jdbcType="VARCHAR"/>
        <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
        <result column="srv_ip" property="srvIp" jdbcType="VARCHAR"/>
        <result column="srv_port" property="srvPort" jdbcType="INTEGER"/>
        <result column="srv_url" property="srvUrl" jdbcType="VARCHAR"/>
        <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
        <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
        <result column="srv_image_version_id" property="srvImageVersionId" jdbcType="INTEGER"/>
        <result column="srv_inst_num" property="srvInstNum" jdbcType="TINYINT"/>
        <result column="cpu" property="cpu" jdbcType="VARCHAR"/>
        <result column="mem" property="mem" jdbcType="VARCHAR"/>
        <result column="storage_way" property="storageWay" jdbcType="TINYINT"/>
        <result column="storage_type" property="storageType" jdbcType="TINYINT"/>
        <result column="storage_root_path" property="storageRootPath" jdbcType="VARCHAR"/>
        <result column="storage_quota" property="storageQuota" jdbcType="INTEGER"/>
        <result column="srv_detail_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="srv_detail_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="srv_detail_creator" property="creator" jdbcType="VARCHAR"/>
        <result column="start_order" property="startOrder" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="BIGINT"/>
        <result column="tenant_id" property="tenantId" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP"/>
        <result column="app_name_zh" jdbcType="VARCHAR" property="appNameZh"/>
    </resultMap>

    <select id="findNameEn"
            parameterType="java.lang.String"
            resultMap="BaseResultMap">
        SELECT
        *
        FROM
        acp_srv_detail
        where
        srv_name_en = #{srvNameEh,jdbcType=VARCHAR}

    </select>
    <select id="findNodePort"
            parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        SELECT
        *
        FROM
        acp_srv_detail
        where
        node_port = #{nodePort,jdbcType=INTEGER}
    </select>
    <select id="findNameZh"
            parameterType="java.lang.String"
            resultMap="BaseResultMap">
        SELECT
        *
        FROM
        acp_srv_detail
        where
        srv_name_ch =#{srvNameCh,jdbcType=VARCHAR}
    </select>

    <!-- 查询当前用户下所有的服务 -->
    <select id="listUserSrvDetail" resultMap="BaseResultMap">
        SELECT
          asd.srv_id,
          asd.srv_name_ch,
          asd.srv_name_en,
          asd.srv_desc,
          asd.srv_type,
          asd.busi_pkg,
          asd.busi_pkg_id,
          asd.srv_image,
          asd.srv_image_id,
          asd.srv_image_version_id,
          asd.srv_image_version,
          asd.create_time,
          asd.update_time,
          asd.creator,
          asd.tenant_id,
          asd.srv_desc_img_path,
          asd.code_mng_type,
          asd.url,
          asd.branch,
          asd.user_name,
          asd.password,
          asd.tags,
          asd.member_users,
          asd.language,
          asd.lang_version,
          asd.build_script_type,
          asd.build_script_path,
          asd.project_build_path,
          asd.context_root_path,
          asd.middleware,
          asd.middleware_version,
          asd.log_path,
          asd.persis_path
        FROM
          acp_srv_detail asd
        <where>
            <if test="creator != null" >
              AND asd.creator = #{creator,jdbcType=INTEGER}
            </if>
            <if test="srvNameCh != null and srvNameCh!=''">
              AND asd.srv_name_ch LIKE concat('%', #{srvNameCh,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        ORDER BY asd.create_time DESC
    </select>
    <!--查询所有用户下的所有应用的所有服务-->
    <select id="listUserAppSrvDetail" resultMap="appDetailVO">
        SELECT
            aad.app_id,
            asd.inst_type,
            aad.app_name_zh,
            aad.app_name_en,
            aad.remark,
            aad.app_type,
            aad.create_time,
            aad.update_time,
            aad.creator,
            asd.srv_id,
            asd.srv_name_ch,
            asd.srv_name_en,
            asd.srv_desc,
            asd.srv_version,
            asd.srv_type,
            asd.srv_ip,
            asd.srv_port,
            asd.srv_url,
            asd.srv_image,
            asd.srv_image_version,
            asd.srv_image_version_id,
            asd.srv_inst_num,
            asd.cpu,
            asd.mem,
            asd.storage_way,
            asd.storage_type,
            asd.storage_root_path,
            asd.storage_quota,
            asd.create_time,
            asd.update_time,
            asd.creator,
            asd.tenant_id,
            asd.node_port
        FROM

            acp_app_detail aad,
            acp_app_srv_rel aasr,
            acp_srv_detail asd
        WHERE
            asd.srv_id = aasr.srv_id
        AND aad.app_id = aasr.app_id
    </select>

    <!--查询指定用户下的指定应用的服务列表-->
    <select id="listUserGivenAppGivenSrvDetail" parameterType="com.cloud.paas.appservice.qo.SrvCondition"
            resultMap="listSrvDetailOfApp">
        SELECT
            acp_app_detail.app_id,
            acp_app_detail.app_name_zh,
            acp_app_detail.app_name_en,
            acp_app_detail.remark,
            acp_app_detail.app_type,
            acp_app_detail.creator,
            acp_app_detail.create_time,
            acp_app_detail.update_time,
            acp_srv_instance_detail.srv_inst_id,
            acp_srv_detail.srv_name_ch,
            acp_srv_detail.srv_name_en,
            acp_srv_detail.srv_desc,
            acp_srv_version_detail.srv_version,
            acp_srv_detail.srv_type,
            acp_srv_instance_detail.node_port,
            acp_srv_detail.srv_image,
            acp_srv_detail.srv_image_version,
            acp_srv_instance_detail.srv_inst_num,
            acp_srv_instance_detail.cpu,
            acp_srv_instance_detail.mem,
            acp_srv_instance_detail.srv_inst_status AS state,
            acp_srv_instance_detail.create_time AS srv_detail_create_time,
            acp_srv_instance_detail.update_time AS srv_detail_update_time,
            acp_srv_instance_detail.creator AS srv_detail_creator,
            acp_srv_instance_detail.start_order AS srv_detail_start_order,
            acp_srv_detail.tenant_id AS srv_detail_tenant
        FROM
        acp_app_detail
        LEFT JOIN acp_srv_instance_detail ON acp_srv_instance_detail.app_id = acp_app_detail.app_id
        LEFT JOIN acp_srv_version_detail ON acp_srv_instance_detail.srv_version_id = acp_srv_version_detail.srv_version_id
        LEFT JOIN acp_srv_detail ON acp_srv_version_detail.srv_id = acp_srv_detail.srv_id
        WHERE acp_app_detail.app_name_zh = #{appNameZh,jdbcType=VARCHAR}
        ORDER BY acp_srv_instance_detail.start_order
    </select>

    <!--查询指定用户下的指定应用的指定服务-->
    <select id="userGivenAppGivenSrvDetailGiven" parameterType="com.cloud.paas.appservice.qo.SrvCondition"
            resultMap="serDetailOfApp">
        SELECT
        aad.app_id,
        aad.app_name_zh,
        aad.app_name_en,
        aad.remark,
        aad.app_type,
        aad.create_time,
        aad.update_time,
        aad.creator,
        asd.srv_id,
        asd.inst_type,
        asd.srv_name_ch,
        asd.srv_name_en,
        asd.srv_desc,
        asd.srv_version,
        asd.srv_type,
        asd.srv_ip,
        asd.srv_port,
        asd.srv_url,
        asd.srv_image,
        asd.srv_image_version,
        asd.srv_image_version_id,
        asd.srv_inst_num,
        asd.cpu,
        asd.mem,
        asd.storage_way,
        asd.storage_type,
        asd.storage_root_path,
        asd.storage_quota,
        asd.create_time,
        asd.update_time,
        asd.creator,
        asd.tenant_id,
        asd.node_port,
        aasr.start_order
        FROM
        acp_app_detail aad,
        acp_app_srv_rel aasr,
        acp_srv_detail asd
        WHERE
          asd.srv_id = aasr.srv_id
        AND aad.app_id = aasr.app_id
        AND aad.app_name_zh = #{appNameZh,jdbcType=VARCHAR}
        AND asd.srv_name_ch = #{srvNameCh,jdbcType=VARCHAR}
    </select>


    <!--页面服务查询，除状态、启动时间、停止时间-->
    <select id="findSrvDetailVO"
            parameterType="com.cloud.paas.appservice.qo.SrvExample"
            resultMap="srvDetailOrderVO">
        select
        det.srv_id,det.srv_name_ch,det.inst_type,det.srv_name_en,det.srv_desc,det.srv_version,det.srv_type,det.srv_ip,det.srv_port,
        det.srv_url,det.srv_image,det.srv_image_version,det.srv_image_version_id,det.srv_inst_num,det.cpu,det.mem,
        det.storage_way,det.storage_type,det.storage_root_path,det.storage_quota,det.create_time as
        srv_detail_create_time,
        det.update_time as srv_detail_update_time,det.creator as
        srv_detail_creator,det.tenant_id,det.node_port,rel.rel_id,rel.app_id,rel.srv_id as
        app_srv_rel_srv_id,
        rel.start_order,
        app.app_name_zh
        FROM
        acp_srv_detail det
        LEFT JOIN
        acp_app_srv_rel rel
        ON
        rel.srv_id = det.srv_id
        LEFT JOIN
        acp_app_detail app
        ON
        rel.app_id=app.app_id
        <where>
            <if test="srvNameCh != null and srvNameCh!=''">
                AND det.srv_name_ch LIKE concat('%', #{srvNameCh,jdbcType=VARCHAR}, '%')
            </if>
            <if test="srvImage!= null and srvImage!='' ">
                AND det.srv_image LIKE concat('%', #{srvImage,jdbcType=VARCHAR}, '%')
            </if>
            <if test="srvImageVersion != null and srvImageVersion!=''">
                AND det.srv_image_version LIKE concat('%', #{srvImageVersion,jdbcType=VARCHAR}, '%')
            </if>
            <if test="creator!= null and creator!='' ">
                AND det.creator LIKE concat('%', #{creator,jdbcType=VARCHAR}, '%')
            </if>
            <if test="appNameZh != null and appNameZh!=''">
                AND app.app_name_zh LIKE concat('%', #{appNameZh,jdbcType=INTEGER}, '%')
            </if>
            <if test="condition != null and condition!=''">
                AND det.srv_name_ch LIKE concat('%', #{condition,jdbcType=VARCHAR}, '%')
                or det.srv_image LIKE concat('%', #{condition,jdbcType=VARCHAR}, '%')
                or det.srv_image_version LIKE concat('%', #{condition,jdbcType=VARCHAR}, '%')
                or det.creator LIKE concat('%', #{condition,jdbcType=VARCHAR}, '%')
                or app.app_name_zh LIKE concat('%', #{condition,jdbcType=VARCHAR}, '%')
            </if>
        </where>

    </select>

    <!--通过应用ID查询 服务详情：服务名称 服务状态 启动顺序  创建时间-->
    <select id="findSrvDetailVOByAppId" parameterType="java.lang.Integer" resultMap="srvDetailVO">
        select
        asd.srv_id,
        asd.inst_type,
        asd.srv_name_ch,
        asd.srv_name_en,
        asd.srv_desc,
        asd.srv_version,
        asd.srv_type,
        asd.srv_ip,
        asd.srv_port,
        asd.srv_url,
        asd.srv_image,
        asd.srv_image_version,
        asd.srv_inst_num,
        asd.cpu,
        asd.mem,
        asd.storage_way,
        asd.storage_type,
        asd.storage_root_path,
        asd.storage_quota,
        asd.create_time as srv_detail_create_time,
        asd.update_time as srv_detail_update_time,
        asd.creator as srv_detail_creator,
        asd.tenant_id,
        asd.node_port,

        aasr.rel_id,
        aasr.app_id,
        aasr.srv_id as app_srv_rel_srv_id,
        aasr.start_order,
        aasr.create_time as app_srv_rel_create_time,
        aasr.update_time as app_srv_rel_update_time,
        aasr.creator as app_srv_rel_creator,

        acp_srv_operation.srv_operation_id,
        acp_srv_operation.srv_id as  srv_operation_srv_id,
        acp_srv_operation.operation_type,
        acp_srv_operation.operation_desc,
        acp_srv_operation.state,
        acp_srv_operation.create_time as srv_operation_create_time,
        acp_srv_operation.update_time as srv_operation_update_time,
        acp_srv_operation.creator as srv_operation_creator
        from
        acp_app_srv_rel aasr
        left join
        acp_srv_detail asd ON aasr.srv_id = asd.srv_id
        left join
        acp_srv_operation ON asd.srv_id = acp_srv_operation.srv_id
        where
        aasr.app_id=#{appId,jdbcType=INTEGER}
    </select>

    <!--服务详情中的所有字段-->
    <sql id="Base_Column_List">
        srv_id,srv_name_ch,srv_name_en,srv_desc,srv_type,busi_pkg,busi_pkg_id,srv_image,srv_image_id,srv_image_version_id,srv_image_version,
        create_time,update_time,creator,tenant_id,srv_desc_img_path,code_mng_type, url,branch,user_name,password,tags,member_users,
        language,lang_version,build_script_type,build_script_path,project_build_path,context_root_path,middleware,middleware_version,log_path,persis_path
    </sql>

    <!--根据ID查询-->
    <select id="doFindById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from acp_srv_detail asd
        where srv_id = #{srvId,jdbcType=INTEGER}
    </select>

    <!--查询所有的服务-->
    <select id="doFindAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from acp_srv_detail
        where srv_image_version_id = #{srvImageVersionId,jdbcType=INTEGER}
    </select>

    <!--根据srvID查询单个服务的详情-->
    <select id="doFindBySrvId" resultMap="srvDetailVO" parameterType="java.lang.Integer">
        select
        aad.app_name_zh,

        asd.srv_id,
        asd.inst_type,
        asd.srv_name_ch,
        asd.srv_name_en,
        asd.srv_desc,
        asd.srv_version,
        asd.srv_type,
        asd.srv_ip,
        asd.srv_port,
        asd.srv_url,
        asd.srv_image,
        asd.srv_image_version,
        asd.srv_image_version_id,
        asd.srv_inst_num,
        asd.cpu,
        asd.mem,
        asd.storage_way,
        asd.storage_type,
        asd.storage_root_path,
        asd.storage_quota,
        asd.create_time as srv_detail_create_time,
        asd.update_time as srv_detail_update_time,
        asd.creator as srv_detail_creator,
        asd.tenant_id,
        asd.node_port,

        acp_srv_env_rel.id,
        acp_srv_env_rel.srv_id,
        acp_srv_env_rel.env_type,
        acp_srv_env_rel.env_key,
        acp_srv_env_rel.env_key_desc,
        acp_srv_env_rel.env_value,
        acp_srv_env_rel.env_value_desc,
        acp_srv_env_rel.create_time,
        acp_srv_env_rel.update_time,
        acp_srv_env_rel.creator,

        acp_srv_storage_rel.func,
        acp_srv_storage_rel.catalog,

        acp_srv_scale_rule.rule_type,
        acp_srv_scale_rule.rule_code,
        acp_srv_scale_rule.ctn_num,
        acp_srv_scale_rule.rule_mean,
        acp_srv_scale_rule.rule_value,
        acp_srv_scale_rule.scale_ctn_num
        from  acp_app_srv_rel aasr,
        acp_srv_detail asd,
        acp_srv_operation,
        acp_app_detail aad,
        acp_srv_env_rel,
        acp_srv_storage_rel,
        acp_srv_scale_rel,
        acp_srv_scale_rule

        where asd.srv_id = #{srvId,jdbcType=INTEGER}
        AND asd.srv_id = aasr.srv_id
        AND aad.app_id = aasr.app_id
        AND acp_srv_env_rel.srv_id = asd.srv_id
        AND acp_srv_storage_rel.srv_id = asd.srv_id
        AND acp_srv_scale_rule.rule_id = acp_srv_scale_rel.rule_id
        AND acp_srv_scale_rel.rule_id = asd.srv_id

    </select>

    <!--根据ID删除-->
    <delete id="doDeleteById" parameterType="java.lang.Integer">
        delete from acp_srv_detail
        where srv_id = #{srvId,jdbcType=INTEGER}
    </delete>

    <!--插入SrvDetail-->
    <insert id="insertAll" parameterType="com.cloud.paas.appservice.model.SrvDetail">
        <selectKey resultType="java.lang.Integer" keyProperty="srvId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO acp_srv_detail (
        inst_type,srv_name_ch,srv_name_en,srv_desc,srv_version,
        srv_type,srv_ip,srv_port,srv_url,srv_image,srv_image_version,srv_image_version_id,srv_inst_num,cpu,mem,
        storage_way,storage_type,storage_root_path,storage_quota,create_time,update_time,creator,tenant_id,node_port
        )
        VALUES
        (
        #{instType,jdbcType=INTEGER},#{srvNameCh,jdbcType=VARCHAR},#{srvNameEn,jdbcType=VARCHAR},
        #{srvDesc,jdbcType=VARCHAR},#{srvVersion,jdbcType=VARCHAR},#{srvType,jdbcType=TINYINT},
        #{srvIp,jdbcType=VARCHAR},#{srvPort,jdbcType=INTEGER},#{srvUrl,jdbcType=VARCHAR},
        #{srvImage,jdbcType=VARCHAR},#{srvImageVersion,jdbcType=VARCHAR},#{srvImageVersionId,jdbcType=INTEGER},
        #{srvInstNum,jdbcType=TINYINT},#{cpu,jdbcType=VARCHAR},#{mem,jdbcType=VARCHAR},#{storageWay,jdbcType=TINYINT},
        #{storageType,jdbcType=TINYINT}, #{storageRootPath,jdbcType=VARCHAR},#{storageQuota,jdbcType=INTEGER},
        now(3),now(3),#{creator,jdbcType=VARCHAR},#{tenantId,jdbcType=INTEGER}),#{nodePort,jdbcType=INTEGER}
    </insert>

    <!--插入SrvDetail-->
    <insert id="doInsertByBean" parameterType="com.cloud.paas.appservice.model.SrvDetail">
        <selectKey resultType="java.lang.Integer" keyProperty="srvId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into acp_srv_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            srv_id,
            <if test="srvNameCh != null">srv_name_ch,</if>
            <if test="srvNameEn != null">srv_name_en,</if>
            <if test="srvDesc != null">srv_desc,</if>
            <if test="srvType != null">srv_type,</if>
            <if test="busiPkg != null">busi_pkg,</if>
            <if test="busiPkgId != null">busi_pkg_id,</if>
            <if test="srvImage != null">srv_image,</if>
            <if test="srvImageId != null">srv_image_id,</if>
            <if test="srvImageVersion != null">srv_image_version,</if>
            <if test="srvImageVersionId != null">srv_image_version_Id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="creator != null">creator,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="srvDescImgPath != null">srv_desc_img_path,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{srvId,jdbcType=INTEGER},
            <if test="srvNameCh != null">#{srvNameCh,jdbcType=VARCHAR},</if>
            <if test="srvNameEn != null">#{srvNameEn,jdbcType=VARCHAR},</if>
            <if test="srvDesc != null">#{srvDesc,jdbcType=VARCHAR},</if>
            <if test="srvType != null">#{srvType,jdbcType=TINYINT},</if>
            <if test="busiPkg != null">#{busiPkg,jdbcType=VARCHAR},</if>
            <if test="busiPkgId != null">#{busiPkgId,jdbcType=INTEGER},</if>
            <if test="srvImage != null">#{srvImage,jdbcType=VARCHAR},</if>
            <if test="srvImageId != null">#{srvImageId,jdbcType=INTEGER},</if>
            <if test="srvImageVersion != null">#{srvImageVersion,jdbcType=VARCHAR},</if>
            <if test="srvImageVersionId != null">#{srvImageVersionId,jdbcType=INTEGER},</if>
            <if test="createTime != null">now(3),</if>
            <if test="updateTime != null">now(3),</if>
            <if test="creator != null">#{creator,jdbcType=VARCHAR},</if>
            <if test="tenantId != null">#{tenantId,jdbcType=INTEGER},</if>
            <if test="srvDescImgPath != null">#{srvDescImgPath,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!--根据ID修改-->
    <update id="doUpdateByBean" parameterType="com.cloud.paas.appservice.model.SrvDetail">
        update acp_srv_detail
        <set>
            <if test="srvNameCh != null">
                srv_name_ch = #{srvNameCh,jdbcType=VARCHAR},
            </if>
            <if test="srvNameEn != null">
                srv_name_en = #{srvNameEn,jdbcType=VARCHAR},
            </if>
            <if test="srvDesc != null">
                srv_desc = #{srvDesc,jdbcType=VARCHAR},
            </if>
            <if test="srvType != null">
                srv_type = #{srvType,jdbcType=TINYINT},
            </if>
            <if test="busiPkg != null">
                busi_pkg = #{busiPkg,jdbcType=VARCHAR},
            </if>
            <if test="busiPkgId != null">
                busi_pkg_id = #{busiPkgId,jdbcType=INTEGER},
            </if>
            <if test="srvImage != null">
                srv_image = #{srvImage,jdbcType=VARCHAR},
            </if>
            <if test="srvImageId != null">
                srv_image_id = #{srvImageId,jdbcType=INTEGER},
            </if>
            <if test="srvImageVersion != null">
                srv_image_version = #{srvImageVersion,jdbcType=VARCHAR},
            </if>
            <if test="srvImageVersionId != null">
                srv_image_version_id = #{srvImageVersionId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(3),
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <!--<if test="tenantId != null">-->
                <!--tenant_id = #{tenantId,jdbcType=INTEGER},-->
            <!--</if>-->
            <if test="srvDescImgPath != null">
                srv_desc_img_path = #{srvDescImgPath,jdbcType=VARCHAR},
            </if>
            <if test="codeMngType != null">
                code_mng_type = #{codeMngType,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="branch != null">
                branch = #{branch,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="memberUsers != null">
                member_users = #{memberUsers,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="langVersion != null">
                lang_version = #{langVersion,jdbcType=VARCHAR},
            </if>
            <if test="buildScriptType != null">
                build_script_type = #{buildScriptType,jdbcType=VARCHAR},
            </if>
            <if test="buildScriptPath != null">
                build_script_path = #{buildScriptPath,jdbcType=VARCHAR},
            </if>
            <if test="projectBuildPath != null">
                project_build_path = #{projectBuildPath,jdbcType=VARCHAR},
            </if>
            <if test="contextRootPath != null">
                context_root_path = #{contextRootPath,jdbcType=VARCHAR},
            </if>
            <if test="middleware != null">
                middleware = #{middleware,jdbcType=VARCHAR},
            </if>
            <if test="middlewareVersion != null">
                middleware_version = #{middlewareVersion,jdbcType=VARCHAR},
            </if>
            <if test="logPath != null">
                log_path = #{logPath,jdbcType=VARCHAR},
            </if>
            <if test="persisPath != null">
                persis_path = #{persisPath,jdbcType=VARCHAR},
            </if>
        </set>
        where srv_id = #{srvId,jdbcType=INTEGER}
    </update>

    <!--根据ID修改-->
    <update id="updateByPrimaryKey" parameterType="com.cloud.paas.appservice.model.SrvDetail">
    update acp_srv_detail
    set srv_name_ch = #{srvNameCh,jdbcType=VARCHAR},
      inst_type = #{instType,jdbcType=INTEGER},
      srv_name_en = #{srvNameEn,jdbcType=VARCHAR},
      srv_desc = #{srvDesc,jdbcType=VARCHAR},
      srv_version = #{srvVersion,jdbcType=VARCHAR},
      srv_type = #{srvType,jdbcType=TINYINT},
      srv_ip = #{srvIp,jdbcType=VARCHAR},
      srv_port = #{srvPort,jdbcType=INTEGER},
      srv_url = #{srvUrl,jdbcType=VARCHAR},
      srv_image = #{srvImage,jdbcType=VARCHAR},
      srv_image_version = #{srvImageVersion,jdbcType=VARCHAR},
      srv_image_version_id = #{srvImageVersionId,jdbcType=INTEGER},
      srv_inst_num = #{srvInstNum,jdbcType=TINYINT},
      cpu = #{cpu,jdbcType=VARCHAR},
      mem = #{mem,jdbcType=VARCHAR},
      storage_way = #{storageWay,jdbcType=TINYINT},
      storage_type = #{storageType,jdbcType=TINYINT},
      storage_root_path = #{storageRootPath,jdbcType=VARCHAR},
      storage_quota = #{storageQuota,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now(3),
      creator = #{creator,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=INTEGER},
      node_port = #{nodePort,jdbcType=INTEGER},
    where srv_id = #{srvId,jdbcType=INTEGER}
  </update>
</mapper>