<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.paas.appservice.dao.SrvEnvRelDAO" >

  <resultMap id="BaseResultMap" type="com.cloud.paas.appservice.model.SrvEnvRel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="srv_id" property="srvId" jdbcType="INTEGER" />
    <result column="env_type" property="envType" jdbcType="TINYINT" />
    <result column="env_key" property="envKey" jdbcType="VARCHAR" />
    <result column="env_key_desc" property="envKeyDesc" jdbcType="VARCHAR" />
    <result column="env_value" property="envValue" jdbcType="VARCHAR" />
    <result column="env_value_desc" property="envValueDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, srv_id, env_type, env_key, env_key_desc, env_value, env_value_desc, create_time, 
    update_time, creator
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from acp_srv_env_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
<!--获取环境变量-->
  <select id="doFindBySrvId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
      env_type,
      env_key,
      env_key_desc,
      env_value,
      env_value_desc
    from acp_srv_env_rel
    where srv_id = #{srvId,jdbcType=INTEGER}
  </select>

  <delete id="doDeleteById" parameterType="java.lang.Integer" >
    delete from acp_srv_env_rel
    where srv_id = #{srvId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cloud.paas.appservice.model.SrvEnvRel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO acp_srv_env_rel (
      srv_id,
      env_type,
      env_key,
      env_key_desc,
      env_value,
      env_value_desc,
      create_time,
      update_time,
      creator
    )
    VALUES
    (
      #{srvId,jdbcType=INTEGER},
      #{envType,jdbcType=TINYINT},
      #{envKey,jdbcType=VARCHAR},
      #{envKeyDesc,jdbcType=VARCHAR},
      #{envValue,jdbcType=VARCHAR},
      #{envValueDesc,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{creator,jdbcType=VARCHAR})
  </insert>

  <insert id="doInsertByBean" parameterType="com.cloud.paas.appservice.model.SrvEnvRel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_srv_env_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srvId != null" >
        srv_id,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="envKey != null" >
        env_key,
      </if>
      <if test="envKeyDesc != null" >
        env_key_desc,
      </if>
      <if test="envValue != null" >
        env_value,
      </if>
      <if test="envValueDesc != null" >
        env_value_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srvId != null" >
        #{srvId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=TINYINT},
      </if>
      <if test="envKey != null" >
        #{envKey,jdbcType=VARCHAR},
      </if>
      <if test="envKeyDesc != null" >
        #{envKeyDesc,jdbcType=VARCHAR},
      </if>
      <if test="envValue != null" >
        #{envValue,jdbcType=VARCHAR},
      </if>
      <if test="envValueDesc != null" >
        #{envValueDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.paas.appservice.model.SrvEnvRel" >
    update acp_srv_env_rel
    <set >
      <if test="srvId != null" >
        srv_id = #{srvId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=TINYINT},
      </if>
      <if test="envKey != null" >
        env_key = #{envKey,jdbcType=VARCHAR},
      </if>
      <if test="envKeyDesc != null" >
        env_key_desc = #{envKeyDesc,jdbcType=VARCHAR},
      </if>
      <if test="envValue != null" >
        env_value = #{envValue,jdbcType=VARCHAR},
      </if>
      <if test="envValueDesc != null" >
        env_value_desc = #{envValueDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cloud.paas.appservice.model.SrvEnvRel" >
    update acp_srv_env_rel
    set srv_id = #{srvId,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=TINYINT},
      env_key = #{envKey,jdbcType=VARCHAR},
      env_key_desc = #{envKeyDesc,jdbcType=VARCHAR},
      env_value = #{envValue,jdbcType=VARCHAR},
      env_value_desc = #{envValueDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>