<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.paas.appservice.dao.SrvOperationDAO">

    <resultMap id="BaseResultMap" type="com.cloud.paas.appservice.model.SrvOperation">
        <id column="srv_operation_id" property="srvOperationId" jdbcType="INTEGER"/>
        <result column="srv_id" property="srvId" jdbcType="INTEGER"/>
        <result column="operation_type" property="operationType" jdbcType="TINYINT"/>
        <result column="operation_desc" property="operationDesc" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="srvOperationListVO" type="com.cloud.paas.appservice.vo.srv.SrvDetailOrderVO">
        <result column="srv_id" property="srvId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="BIGINT"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--用户下的所有应用下的所有的服务的映射关系-->
    <resultMap id="listSrvDetailOfApp" type="com.cloud.paas.appservice.vo.app.AppDetailVO">
        <id column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="app_name_zh" jdbcType="VARCHAR" property="appNameZh"/>
        <result column="app_name_en" jdbcType="VARCHAR" property="appNameEn"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="app_type" jdbcType="INTEGER" property="appType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <!--映射服务列表-->
        <collection property="listSrvDetail" ofType="com.cloud.paas.appservice.model.SrvDetail">
            <id column="srv_id" property="srvId" jdbcType="INTEGER"/>
            <result column="srv_name_ch" property="srvNameCh" jdbcType="VARCHAR"/>
            <result column="srv_name_en" property="srvNameEn" jdbcType="VARCHAR"/>
            <result column="srv_desc" property="srvDesc" jdbcType="VARCHAR"/>
            <result column="srv_version" property="srvVersion" jdbcType="VARCHAR"/>
            <result column="srv_type" property="srvType" jdbcType="TINYINT"/>
            <result column="srv_ip" property="srvIp" jdbcType="VARCHAR"/>
            <result column="srv_port" property="srvPort" jdbcType="INTEGER"/>
            <result column="srv_url" property="srvUrl" jdbcType="VARCHAR"/>
            <result column="srv_image" property="srvImage" jdbcType="VARCHAR"/>
            <result column="srv_image_version" property="srvImageVersion" jdbcType="VARCHAR"/>
            <result column="srv_inst_num" property="srvInstNum" jdbcType="TINYINT"/>
            <result column="cpu" property="cpu" jdbcType="REAL"/>
            <result column="mem" property="mem" jdbcType="REAL"/>
            <result column="storage_way" property="storageWay" jdbcType="TINYINT"/>
            <result column="storage_type" property="storageType" jdbcType="TINYINT"/>
            <result column="storage_root_path" property="storageRootPath" jdbcType="VARCHAR"/>
            <result column="storage_quota" property="storageQuota" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="creator" property="creator" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
      srv_operation_id,
      srv_id,
      operation_type,
      operation_desc,
      state,
      create_time,
      update_time,
      creator
  </sql>

    <sql id="listStateSql">
        SELECT
            acp_app_srv_rel.app_id,acp_app_srv_rel.srv_id srv_id,m.state,n.start_time,o.stop_time
        FROM
        acp_app_srv_rel
        LEFT JOIN
            (
                SELECT a.srv_id,a.state
                FROM acp_srv_operation a
                INNER JOIN (
                    SELECT srv_id,MAX(create_time) create_time
                    FROM acp_srv_operation
                    GROUP BY srv_id
                ) b ON a.srv_id = b.srv_id
                AND a.create_time = b.create_time
            ) m
        ON m.srv_id = acp_app_srv_rel.srv_id
        LEFT JOIN (
            SELECT srv_id,MAX(create_time) start_time
            FROM acp_srv_operation
            WHERE state = 2012200
            GROUP BY srv_id
        ) n ON m.srv_id = n.srv_id
        LEFT JOIN (
            SELECT srv_id,MAX(create_time) stop_time
            FROM acp_srv_operation
            WHERE state = 2062200
            GROUP BY srv_id
        ) o ON o.srv_id = n.srv_id
    </sql>

    <!--改变操作信息表中状态-->
    <update id="doSetState" parameterType="com.cloud.paas.appservice.qo.SrvCondition">
        update acp_srv_operation
        <set>
            <if test="state != null">
                state =#{state,jdbcType=BIGINT},
            </if>
        </set>
        where acp_srv_operation.srv_id = (SELECT
        acp_srv_detail.srv_id
        FROM
        acp_user_app_rel,
        acp_app_detail,
        acp_app_srv_rel,
        acp_srv_detail
        WHERE
        acp_app_detail.app_id = acp_user_app_rel.app_id
        AND acp_srv_detail.srv_id = acp_app_srv_rel.srv_id
        AND acp_app_detail.app_id = acp_app_srv_rel.app_id
        AND acp_app_detail.app_name_zh = #{appNameZh,jdbcType=VARCHAR}
        and acp_srv_detail.srv_name_ch = #{srvNameCh,jdbcType=VARCHAR})
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from acp_srv_operation
        where srv_operation_id = #{srvOperationId,jdbcType=INTEGER}
    </select>

    <!-- 查询服务状态、启动时间、停止时间 -->
    <select id="listByExample" resultMap="srvOperationListVO" parameterType="com.cloud.paas.appservice.qo.AppExample">
        <include refid="listStateSql"/>
        <where>
            <if test="appId!=null and appId!=''">
                acp_app_srv_rel.app_id = #{appId,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY acp_app_srv_rel.app_id,acp_app_srv_rel.srv_id
    </select>

    <!-- 查询服务状态、启动时间、停止时间 -->
    <select id="listByIds" resultMap="srvOperationListVO" parameterType="java.util.ArrayList">
        <include refid="listStateSql"/>
        WHERE acp_app_srv_rel.app_id IN
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY acp_app_srv_rel.app_id,acp_app_srv_rel.srv_id
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from acp_srv_operation
    where srv_operation_id = #{srvOperationId,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.cloud.paas.appservice.model.SrvOperation">
        <selectKey resultType="java.lang.Integer" keyProperty="srvOperationId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO acp_srv_operation (
        srv_operation_id,
        srv_id,
        operation_type,
        operation_desc,
        state,
        create_time,
        update_time,
        creator
        )
        VALUES
        (
        #{srvOperationId,jdbcType=INTEGER},
        #{srvId,jdbcType=INTEGER},
        #{operationType,jdbcType=TINYINT},
        #{operationDesc,jdbcType=VARCHAR},
        #{state,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{creator,jdbcType=VARCHAR})
    </insert>

    <!--通过一组服务的id 查询到相应服务的状态-->
    <select id="getGroupOfSrvMng" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        a.srv_operation_id,
        a.srv_id,
        a.operation_type,
        a.operation_desc,
        a.state,
        a.create_time,
        a.update_time,
        a.creator
        FROM
        acp_srv_operation a
        INNER JOIN (
        SELECT
        srv_id,
        MAX(create_time) create_time
        FROM
        acp_srv_operation
        GROUP BY
        srv_id
        ) b ON a.srv_id = b.srv_id
        AND a.create_time = b.create_time
        where a.srv_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--根据srvId查询最新的服务的状态-->
    <select id="getSrvOperationState" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT
            a.state
        FROM
            acp_srv_operation a
        INNER JOIN (
            SELECT
                srv_id,
                MAX(create_time) create_time
            FROM
                acp_srv_operation
            GROUP BY
                srv_id
          ) b ON a.srv_id = b.srv_id
        AND a.create_time = b.create_time
        AND a.srv_id = #{srvId,jdbcType=INTEGER}
        ORDER BY
          srv_operation_id
          LIMIT 0,1
    </select>

    <!--根据状态码查询最新的服务id集合-->
    <select id="getSrvIdByCodeStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
          a.srv_id
        FROM
          acp_srv_operation a
        INNER JOIN (
          SELECT
            srv_id,MAX(create_time) create_time
          FROM
            acp_srv_operation
          GROUP BY srv_id) b
        ON a.srv_id = b.srv_id
        AND a.create_time = b.create_time
        and a.state = #{state,jdbcType=INTEGER}
    </select>

    <!--根据一组srvId查询最新的服务的状态-->
    <select id="getSrvOperationStateByIds" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT
        a.state
        FROM
        acp_srv_operation a
        INNER JOIN (
        SELECT
        srv_id,
        MAX(create_time) create_time
        FROM
        acp_srv_operation
        GROUP BY
        srv_id
        ) b ON a.srv_id = b.srv_id
        AND a.create_time = b.create_time
        AND a.srv_id = #{srvId,jdbcType=INTEGER}
    </select>

    <insert id="doInsertByBean" parameterType="com.cloud.paas.appservice.model.SrvOperation">
        <selectKey resultType="java.lang.Integer" keyProperty="srvOperationId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into acp_srv_operation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            srv_operation_id,
            <if test="srvId != null">
                srv_id,
            </if>
            <if test="operationType != null">
                operation_type,
            </if>
            <if test="operationDesc != null">
                operation_desc,
            </if>
            <if test="state != null">
                state,
            </if>
            <!-- <if test="createTime != null">
                 create_time,
             </if>-->
            create_time,
            <!-- <if test="updateTime != null">
                 update_time,
             </if>-->
            update_time,
            <if test="creator != null">
                creator,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{srvOperationId,jdbcType=INTEGER},
            <if test="srvId != null">
                #{srvId,jdbcType=INTEGER},
            </if>
            <if test="operationType != null">
                #{operationType,jdbcType=TINYINT},
            </if>
            <if test="operationDesc != null">
                #{operationDesc,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=BIGINT},
            </if>
            <!--<if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>-->
            now(3),
            <!--<if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>-->
            now(3),
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cloud.paas.appservice.model.SrvOperation">
        update acp_srv_operation
        <set>
            <if test="srvId != null">
                srv_id = #{srvId,jdbcType=INTEGER},
            </if>
            <if test="operationType != null">
                operation_type = #{operationType,jdbcType=TINYINT},
            </if>
            <if test="operationDesc != null">
                operation_desc = #{operationDesc,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
        </set>
        where srv_operation_id = #{srvOperationId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cloud.paas.appservice.model.SrvOperation">
    update acp_srv_operation
    set srv_id = #{srvId,jdbcType=INTEGER},
      operation_type = #{operationType,jdbcType=TINYINT},
      operation_desc = #{operationDesc,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where srv_operation_id = #{srvOperationId,jdbcType=INTEGER}
  </update>
</mapper>