<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.paas.appservice.dao.SrvScaleRuleDAO" >
  <resultMap id="BaseResultMap" type="com.cloud.paas.appservice.model.SrvScaleRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="srv_inst_id" property="srvInstId" jdbcType="INTEGER" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="max_srv_inst_num" property="maxSrvInstNum" jdbcType="INTEGER" />
    <result column="metric" property="metric" jdbcType="VARCHAR" />
    <result column="target_average_utilization" property="targetAverageUtilization" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    rule_id,srv_inst_id, rule_name, max_srv_inst_num, metric, target_average_utilization, create_time, update_time, creator
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from acp_srv_scale_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>
<!--获取扩缩容规则-->
  <select id="doFindBySrvId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    acp_srv_scale_rule.rule_id,
    acp_srv_scale_rule.srv_inst_id,
    rule_name,
    max_srv_inst_num,
    metric,
    target_average_utilization
    from acp_srv_scale_rule ,acp_srv_scale_rel,acp_srv_detail
    WHERE
    acp_srv_scale_rule.rule_id = acp_srv_scale_rel.rule_id
    AND acp_srv_scale_rel.srv_id = acp_srv_detail.srv_id
    AND acp_srv_detail.srv_id = #{srvId,jdbcType=INTEGER}
  </select>

  <select id="doFindBySrvInstId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from acp_srv_scale_rule
    WHERE srv_inst_id = #{srvInstId,jdbcType=INTEGER}
  </select>


  <delete id="doDeleteById" parameterType="java.lang.Integer" >
    delete from acp_srv_scale_rule
    where srv_inst_id IN
    (
      SELECT rule_id
      FROM acp_srv_scale_rel
      WHERE srv_inst_id = #{srvInstId,jdbcType=INTEGER}
    )
  </delete>

  <insert id="insert" parameterType="com.cloud.paas.appservice.model.SrvScaleRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="ruleId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_srv_scale_rule (rule_id,srv_inst_id, rule_name, max_srv_inst_num,
      metric, target_average_utilization,
      create_time, update_time, creator
      )
    values (#{ruleId,jdbcType=INTEGER},#{srvInstId,jdbcType=INTEGER}, #{ruleName,jdbcType=VARCHAR}, #{maxSrvInstNum,jdbcType=INTEGER},
      #{metric,jdbcType=VARCHAR}, #{targetAverageUtilization,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="doInsertByBean" parameterType="com.cloud.paas.appservice.model.SrvScaleRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="ruleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_srv_scale_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      rule_id,
      <if test="srvInstId != null" >
        srv_inst_id,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="maxSrvInstNum != null" >
          max_srv_inst_num,
      </if>
      <if test="metric != null" >
        metric,
      </if>
      <if test="targetAverageUtilization != null" >
        target_average_utilization,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{ruleId,jdbcType=INTEGER},
      <if test="srvInstId != null" >
        #{srvInstId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="maxSrvInstNum != null" >
        #{maxSrvInstNum,jdbcType=INTEGER},
      </if>
      <if test="metric != null" >
        #{metric,jdbcType=VARCHAR},
      </if>
      <if test="targetAverageUtilization != null" >
        #{targetAverageUtilization,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.paas.appservice.model.SrvScaleRule" >
    update acp_srv_scale_rule
    <set >
      <if test="srvInstId != null" >
        srv_inst_id = #{srvInstId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="maxSrvInstNum != null" >
          max_srv_inst_num = #{maxSrvInstNum,jdbcType=INTEGER},
      </if>
      <if test="metric != null" >
        metric = #{metric,jdbcType=VARCHAR},
      </if>
      <if test="targetAverageUtilization != null" >
        target_average_utilization = #{targetAverageUtilization,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.paas.appservice.model.SrvScaleRule" >
    update acp_srv_scale_rule
    set srv_inst_id = #{srvInstId,jdbcType=INTEGER},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      max_srv_inst_num = #{maxSrvInstNum,jdbcType=INTEGER},
      metric = #{metric,jdbcType=VARCHAR},
      target_average_utilization = #{targetAverageUtilization,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
</mapper>