<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.paas.appservice.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.paas.appservice.model.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name_ch" property="userNameCh" jdbcType="VARCHAR" />
    <result column="user_name_en" property="userNameEn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    user_id, user_name_ch, user_name_en, create_time, update_time, creator
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from acp_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from acp_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cloud.paas.appservice.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_user (user_id, user_name_ch, user_name_en, 
      create_time, update_time, creator
      )
    values (#{userId,jdbcType=INTEGER}, #{userNameCh,jdbcType=VARCHAR}, #{userNameEn,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.cloud.paas.appservice.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acp_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      user_id,
      <if test="userNameCh != null" >
        user_name_ch,
      </if>
      <if test="userNameEn != null" >
        user_name_en,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{userId,jdbcType=INTEGER},
      <if test="userNameCh != null" >
        #{userNameCh,jdbcType=VARCHAR},
      </if>
      <if test="userNameEn != null" >
        #{userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update acp_user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userNameCh != null" >
        user_name_ch = #{record.userNameCh,jdbcType=VARCHAR},
      </if>
      <if test="record.userNameEn != null" >
        user_name_en = #{record.userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
    </set>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.paas.appservice.model.User" >
    update acp_user
    <set >
      <if test="userNameCh != null" >
        user_name_ch = #{userNameCh,jdbcType=VARCHAR},
      </if>
      <if test="userNameEn != null" >
        user_name_en = #{userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.paas.appservice.model.User" >
    update acp_user
    set user_name_ch = #{userNameCh,jdbcType=VARCHAR},
      user_name_en = #{userNameEn,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>